html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    height: fit-content;
}

html, body {
    margin: 0;
    height: 100%;
}

.container {
    height: fit-content;
}

form#login-form {
    width: 50%;
    margin: 0 auto;
}

button.Contact-Options-Button {

}

#Contacts {
    margin: 0 auto;
    width: 90%;
    height: auto;
}

div.ContactsList {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}
div.ContactsList > div{
    flex: 1;
}

ul.ContactsList {
    overflow: hidden;
    overflow-y: scroll;

    width: 90%;
    margin: 0 auto;
    height: 100%;
    padding: 10px;
    max-height: 40vh;
    align-items: stretch;
}

.Contact-Item {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.Contact-Data-Section {
    display: flex;
    flex-direction: row;
}

.Contact-Options-Section{

}

.Contact-Item-Data {
    flex: 1;
}

.Appearing {
    transition: visibility 0.5s, opacity 0.5s, max-height 0.5s ease-in-out;
    overflow-y: hidden;
}

.LoggedInOnly{

}
.hidden {
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
    transition: visibility 0.5s, opacity 0.5s, max-height 0.5s ease-in-out;
    overflow-y: hidden;
}
.visible {
    visibility: visible;
    max-height: 100%;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s, max-height 0.5s ease-in-out;
    overflow-y: hidden;
}
.LoggedOutOnly {

}

.edit-form {
display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#login-form{
    padding: 10px;
}
#login-form > button {
    margin: 10px;
}

#create-contact-form{
    padding: 10px 30%;
}


